/* COLOUR FILE :: default */


body.grid-on {
	background: url('../../img/body_bg_grid.png') repeat 0 0;
	background-position:top center ;
}


.fx-type--bg-gradient-default{
	
}

.skin-dark .fx-type--bg-gradient-default{
	
}

select,textarea,input[type="text"],input,
.input-prepend .add-on, .input-append .add-on,
.uneditable-input,select, .btn, button {
	border-color: #bbbbbb;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #a2a2a2;
}


select,
input{
	
	background-color:#fff;
	background:#fff !important;
}

select.btn-dark,
input.btn-dark{
	
	background-color:#111;
	background:#111 !important;
}

.btn-group>.btn.active,
.btn:active,.btn-primary:active, .btn-primary.active, button:active,
.btn:hover, btn.hover, button:hover, button.hover,
.btn-primary:hover{

}

.page-template-reveal-php .navbar-fixed-top .btn,
.navbar-inner,
.add-on,select,textarea,input[type="text"],input,
.uneditable-input,select, .btn, button  {
	
	
}



.layout-size--medium .hentry-layout-visual .hentry-text,
.layout-size--large .hentry-layout-visual .hentry-text{
	background:#F63;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled],
.btn-group>.btn.active,
.btn:active,.btn-primary:active, .btn-primary.active, button:active{
	
}


.btn-group.open .btn.dropdown-toggle,
.btn:hover, btn.hover, button:hover, button.hover,
.btn-primary:hover{

}


.skin-dark .navbar-inner,
.skin-dark .gallery-item,
.btn-dark,input.btn-dark, 
.input-prepend .add-on-dark, .input-append .add-on-dark

{

}




.btn:hover, .btn:focus {

background-position: 0px;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
}