body.grid-on {
	background: url('../img/body_bg_grid.png') repeat 0 0;
	background-position:top center ;
}

select,
input{
	
	background-color:#fff;
	background:#fff !important;
}

select.btn-dark,
input.btn-dark{
	
	background-color:#111;
	background:#111 !important;
}


.page .hentry{}

.page #sidebar,
.single #sidebar{/*background: none !important;*/}

.sidebar-animated{background-color: #ffffff;}
.skin-dark .sidebar-animated{background-color: #000000;}

.sidebarButton_bg{background: #ffffff;}
.skin-dark .sidebarButton_bg{background: #000000;}

#sidebar .menu-page{background-color:inherit;}



.fx-type--bg-gradient-default{
	background: none;
	background-color: inherit;
}

.menu .sub-menu,
.menu .children{
	background: #e4e4e4;
}

.hentry, 
.article-popup-container .hentry:hover,
.gallery-item {
	background-color: inherit;
}


.skin-dark .hentry, 
.skin-dark .article-popup-container .hentry:hover, 
.skin-dark .gallery-item {
	background-color: inherit;
}

.hentry:hover, 
.gallery-item:hover {
	background-color: inherit;
}


.btn-primary{
border-color:#000000;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>ul>li>a:hover,
.dropdown-menu>li>ul>li>ul>li>a:hover,
.dropdown-menu>li>ul>li>ul>li>ul>li>a:hover,
.dropdown-menu>li>ul>li>ul>li>ul>li>ul>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a,
.navbar .nav>li>a.btn-dark:hover{

	background-color: #333333;
	background-image: none;
}

.filter-menu-query  .dropdown-menu>li>ul>li>a,
.filter-menu-query  .dropdown-menu>li>ul>li>ul>li>a,
.filter-menu-query  .dropdown-menu>li>ul>li>ul>li>ul>li>a,
.filter-menu-query  .dropdown-menu>li>ul>li>ul>li>ul>li>ul>li>a{ 
margin-left:-200px; padding:3px;
  padding-left:200px; padding-right:100%; }
  


.filter-menu-query .dropdown-menu{overflow:hidden;}



.skin-dark .dropdown-menu, .navbar .nav>li>a.btn-dark:hover{ background-color:#000;}

{
	background-color: inherit;
}

.single-post .hentry,
.page .hentry,
.single-post .hentry:hover,
.page .hentry:hover{
	background: none;
}

.recent-posts-list li:first-child, .widget_recent_entries li:first-child, .widget_recent_comments  li:first-child,
.recent-posts-list li, .widget_recent_entries li, .widget_recent_comments li {
	border-color: #2C2C2C;
}

.recent-posts-list li:hover:before, .widget_recent_entries li:hover:before {
	background: #959595;
}

.widget-area .menu .sub-menu{background:none !important;}

select, textarea, input, .uneditable-input{
	background-image:none;
	background-color:#f5f5f5;
	background:#f5f5f5;
}

select.btn-dark,
input.btn-dark{
	background-image:none;
	background-color:inherit;
	background: inherit;
}


.btn-group.open .btn.dropdown-toggle{background-image:none; background-color:inherit;}

 .layout-size--medium .article-popup-container .hentry-text,
 .layout-size--large .article-popup-container .hentry-text{
	background: none;
	background-color: inherit !important;
  }


.navbar-inner,
.add-on,select,textarea,input[type="text"],input,
.uneditable-input,select, .btn, button, .btn-primary  {
  	/*background-color:inherit;
	  background-image: none;*/
}

.page-template-reveal-php .navbar-fixed-top .btn{background-image: none; background-color: inherit;}


.btn-group>.btn.active,
.btn:active,.btn-primary:active, .btn-primary.active, button:active,
.layout-size--medium .hentry-layout-visual .hentry-text,
.layout-size--large .hentry-layout-visual .hentry-text,
.btn:hover, btn.hover, button:hover, button.hover,
.btn-primary:hover{/*
	  background-color:inherit;
	  background-image: none;*/
}


.skin-dark .navbar-inner,
.skin-dark .gallery-item,
.btn-dark,input.btn-dark, 
.input-prepend .add-on-dark, .input-append .add-on-dark{
	 /* background-color:inherit;
	  background-image: none;*/
}