.layout-type--fixed .span1,
.layout-type--fixed .span2,
.layout-type--fixed .span3,
.layout-type--fixed .span4,
.layout-type--fixed .span5,
.layout-type--fixed .span6,
.layout-type--fixed .span7,
.layout-type--fixed .span8,
.layout-type--fixed .span9,
.layout-type--fixed .span10,
.layout-type--fixed .span11,
.layout-type--fixed .span12 {
	margin-left: 20px;
	float: left;
}


.menu-menu{
		margin-right: 20px !important;
	/*margin-top:10px;
	width: 620px;*/
	}


.post-query-form{ display:none;}
.mostviewedpost-query-form{ display:none;}
.comments-query-form{ display:none;}
.sortby-query-form{ display:none;}
.post-tags-form{ display:none;}
.post-categories-form{ display:none;}
.network-query-form{ display:none;}



.grid-button{margin-right:15px;}
.clear-settings{margin-right:15px;}
#buttonShow-group{margin-right:0px; /*margin-top:10px;*/}

/* 	===============================================================================================================================
	media queries
	=============================================================================================================================== */	



@media (min-width: 2240px) {
	
	
.single p{font-size:1rem;}

.galleryItem-restricted-height-on .gallery-item{
	height: 220px;
}
		.widget-area-header {
	width:1900px;
}

.span8{
	width: 1580px;
}
	
	.hentry-wrap-expanded .hentry-text-wrap {
width: 1240px !important;
}

.article-sidebar .span4 {
/*width: 620px;*/
}
	
	
	.container {
	padding-left:0px;
	padding-right:0px;
}

.content{padding-left:5px;
	padding-right:5px;
	
	margin-left:-5px;
	margin-right:-5px;}


	.hero-media-holder{height: 460px;}

.attachment img {
		/*max-height: 1100px;*/
	}

	.container {
		width: 2220px;
	}
	.span12 { width: 2200px; }
	
	.span8{
	width: 1900px;
}
	
	
.span6{
	width:1100px  !important;
	}
	
	
	.span3{width:540px;}

	
	
	/* expanded fixes */	
	
	
.view-mode--expanded .hentry-text{margin-left:0px;}




	.view-mode--expanded .offset6 {
		left: 1120px !important;
	}
	

	.view-mode--expanded .offset8 {
		margin-left: 640px !important;
	}

	
.layout-size--large .hentry-layout-data .hentry-text-wrap{width: 600px;}







	/* responsive gallery fixes */
	
	/*.row-fluid .span2 {
		width: 15.34% !important;
	}
	*/

	.layout-type--fluid .gallery .span2 {width: 23.4%;}
.layout-type--fluid .gallery .span3 {width: 23.8%;}
.layout-type--fluid .gallery .span4 {width: 32.26%;}
.layout-type--fluid .gallery .span6 {width: 49.2%;}

 
.gallery .span2 {width: 23.4%;}
.gallery .span3 {width: 300px}
.gallery .span4 {width: 31.26%;}
.gallery .span6 {width: 620px;}
	

	.clear-settings-wrap{ top:0px !important;}
	.grid-button-wrap{top:0px !important;}


	
	 .menu-buttons{ visibility: visible;}
	 .size-zero{ height: 0px; width: 0px;}
	 
	  .footer .span4 {width: 730px; }
	   .footer .span2{width:300px;}

	    .tag-wrap-item {width:1240px !important;}
		
		
	
	.font-technique #buttonScreen-group,
.font-technique #itemShape-group,
.font-technique #itemSize-group{margin-right:9px;}

.font-technique .grid-button-wrap,
.font-technique #layoutSkin-group {margin-right:10px !important;}


.font-technique .clear-settings-wrap{margin-right:8px !important;}


.font-karnivore #buttonScreen-group,
.font-karnivore #buttonSize-group,
.font-karnivore #layoutSkin-group,
.font-karnivore .grid-button-wrap{margin-right:14px !important; }
.font-karnivore .clear-settings-wrap{margin-right:12px !important;}


.font-karnivore #itemShape-group{margin-right:12px !important; }
.font-karnivore #itemSize-group{margin-right:14px !important; }
.font-karnivore #itemLayout-group{margin-right:15px !important; }
.font-karnivore #imageFitFill-group{margin-right:15px !important; }


.attachment .attachment-text-wrap{ width:600px !important;}
	 .attachment .entry-attachment{max-width:1580px !important;}
	 .attachment .attachment-image{max-width:1580px !important;}	 

}

@media (min-width: 1920px) and (max-width: 2239px) {




	
	
	
	/* THIS IS THE HD VIEW */
	
	.single p{font-size:1rem;}
	
	

.galleryItem-restricted-height-on .gallery-item{
	height: 220px;
}


	.widget-area-header {
	width:1260px;
}

	.article-sidebar .span4 {
/*width: 620px;*/
}
	
	
	.container {
	padding-left:0px;
	padding-right:0px;
}

.content{padding-left:5px;
	padding-right:5px;
		margin-left:-5px;
	margin-right:-5px;}

	
	/*nb. special value here as not increment of 32px (should be 1920) but ensures that content fits on a standard hd screen with scroll at 17px; */



.layout-size--large .hentry-layout-data .hentry-text-wrap{width: 280px;}


.hero-media-holder{height: 380px;}


.attachment img {
		/*max-height: 900px;*/
	}

	.container {
		width: 1900px;
	}
	.span12 { width: 1900px; }
	
	
	.span8{
	width: 1580px;
}
	
	.hentry-wrap-expanded .hentry-text-wrap {
width: 920px !important;
}



	.view-mode--expanded .offset6 {
		left: 940px !important;
	}
	

	.view-mode--expanded .offset8 {
		margin-left: 640px !important;
	}

	
	/* responsive gallery fixes */

/*
	.row-fluid .span2 {
		width: 15.34% !important;
	}
	*/

	.layout-type--fluid .gallery .span2 {width: 23.4%;}
.layout-type--fluid .gallery .span3 {width: 23.8%;}
.layout-type--fluid .gallery .span4 {width: 32.26%;}
.layout-type--fluid .gallery .span6 {width: 49.2%;}

.span6{
	width:940px;
	}


.post-feed .span6{
	width:620px;
	}
	
	.post-feed .article-popup-container .span6{
	width:940px !important;
	}

	
.gallery .span2 {width: 243px !important;}
.gallery .span3 {width: 380px}
.gallery .span4 {width: 31.5%;}
.gallery .span6 {width: 780px;}
	

		.layout-type--fixed .layout-size--thumbnail .post-feed-image-shape-square .span1 {
margin-right: -2px !important;
}

.span3{width:460px;}
	
	 .menu-buttons{ visibility: visible;}
	 .size-zero{ height: 0px; width: 0px;}
	 
	 .footer .span4 {width: 620px; }
	 
	 .footer .span2{width:13.97%;}
	 
	.clear-settings-wrap{ top:0px !important;}
	.grid-button-wrap{top:0px !important;}

	
 .tag-wrap-item {width: 1100px !important;}
 
 
	
	.font-technique #buttonScreen-group,
.font-technique #itemShape-group,
.font-technique #itemSize-group{margin-right:9px;}

.font-technique .grid-button-wrap,
.font-technique #layoutSkin-group {margin-right:10px !important;}


.font-technique .clear-settings-wrap{margin-right:8px !important;}



.font-karnivore #buttonScreen-group,
.font-karnivore #buttonSize-group,
.font-karnivore #layoutSkin-group,
.font-karnivore .grid-button-wrap{margin-right:14px !important; }
.font-karnivore .clear-settings-wrap{margin-right:12px !important;}


.font-karnivore #itemShape-group{margin-right:12px !important; }
.font-karnivore #itemSize-group{margin-right:14px !important; }
.font-karnivore #itemLayout-group{margin-right:15px !important; }
.font-karnivore #imageFitFill-group{margin-right:15px !important; }


.attachment .attachment-text-wrap{ width:600px !important;}
	 .attachment .entry-attachment{max-width:1260px !important;}
	 .attachment .attachment-image{max-width:1260px !important;}
	 
}


@media (min-width: 1600px) and (max-width: 1919px) {
	
	
.single p{font-size:1rem;}
.galleryItem-restricted-height-on .gallery-item{
	height: 220px;
}


	
	
	.widget-area-header {
	width:940px;
}


/*nb. special value here as not increment of 32px (should be 1920) but ensures that content fits on a standard hd screen with scroll at 17px; */

.hero-media-holder{height: 300px;}

.span6{
	width:780px  !important;
	}
	
	.post-feed .article-popup-container .span6{
	width:940px !important;
	}


	.layout-size--large .hentry-layout-data .hentry-text-wrap{width: 440px;}

	.layout-type--fluid .gallery .span2 {width: 23.4%;}
.layout-type--fluid .gallery .span3 {width: 23.8%;}
.layout-type--fluid .gallery .span4 {width: 32.26%;}
.layout-type--fluid .gallery .span6 {width: 49.2%;}

.gallery .span2 {width: 23.4%;}
.gallery .span3 {width: 300px}
.gallery .span4 {width: 32.26%;}
.gallery .span6 {width: 620px;}
.attachment img {
		/*max-height: 700px;*/
	}


.hentry-wrap-expanded .hentry-text-wrap{width:600px !important;}

	.container {
		width: 1580px;
	}
	.span12 { width: 1580px; }
	
		
	.span8{
	width: 1260px;
}

.span3{width:380px;}
	
	
	
	.view-mode--expanded .offset6 {
		left: 940px !important;
	}
	

	.view-mode--expanded .offset8 {
		margin-left: 640px !important;
	}




		/* responsive gallery fixes */

	/*
	.row-fluid .span2 {
		width: 15.34% !important;
	}
	*/






	.layout-type--fluid .gallery .span2 {width: 23.4%;}
.layout-type--fluid .gallery .span3 {width: 23.8%;}
.layout-type--fluid .gallery .span4 {width: 32.26%;}
.layout-type--fluid .gallery .span6 {width: 49.2%;}

.gallery .span2 {width: 193px;}
.gallery .span3 {width: 300px}
.gallery .span4 {width: 31.26%;}
.gallery .span6 {width: 620px !important;}
	
	
	.clear-settings-wrap{ top:0px !important;}
	.grid-button-wrap{top:0px !important;}

/* .footer .span4 {width: 513px; } */

.footer .span2{width:220px;}


	 .menu-buttons{ visibility: visible;}
	 .size-zero{ height: 0px; width: 0px;}

	 .tag-wrap-item {width: 780px !important;}
	 
	 
	
	.font-technique #buttonScreen-group,
.font-technique #itemShape-group,
.font-technique #itemSize-group{margin-right:9px;}

.font-technique .grid-button-wrap,
.font-technique #layoutSkin-group {margin-right:10px !important;}


.font-technique .clear-settings-wrap{margin-right:8px !important;}


.font-karnivore #buttonScreen-group,
.font-karnivore #buttonSize-group,
.font-karnivore #layoutSkin-group,
.font-karnivore .grid-button-wrap{margin-right:14px !important; }
.font-karnivore .clear-settings-wrap{margin-right:12px !important;}


.font-karnivore #itemShape-group{margin-right:12px !important; }
.font-karnivore #itemSize-group{margin-right:14px !important; }
.font-karnivore #itemLayout-group{margin-right:15px !important; }
.font-karnivore #imageFitFill-group{margin-right:15px !important; }



	 .attachment .attachment-text-wrap{ width:600px !important;}
	 .attachment .entry-attachment{max-width:940px !important;}
	 .attachment .attachment-image{max-width:940px !important;}
	 
}

@media (min-width: 1280px) and (max-width: 1599px) {
	
	
	.galleryItem-restricted-height-on .gallery-item{
	height: 140px;
}


.widget-area-header {
	width:620px;
}


.hentry-wrap-expanded .hentry-text-wrap{width:600px !important;}


.hero-media-holder{height: 220px;}

.span6{width: 620px;}

.attachment img {
		/*max-height: 600px;*/
	}

	.container {
		width: 1260px;
	}




	.layout-type--fixed .layout-size--thumbnail .post-feed-image-shape-square .span1 {
margin-right: -6px !important;
}
	
	.span12 { width: 1260px; }

	.span8{
	width: 940px;
}	

/*.footer .span4 {width: 406px; }*/

.span3{width:300px;}


	
	

	
	/* expanded fixes */	
	.view-mode--expanded .offset6 {
			margin-left:640px;
	}
	
	.view-mode--expanded .offset8 {
		width: 640px !important;
		margin-left:960px;
	}
	
	/* responsive gallery fixes */
	
	/*.row-fluid .span2 {
		width: 15.34%;
	}

	*/



	.clear-settings-wrap{top:0px !important;}
	.grid-button-wrap{top:0px !important;}

		.layout-type--fluid .gallery .span2 {width: 23.4%;}
	.layout-type--fluid .gallery .span3 {width: 23.8%;}
	.layout-type--fluid .gallery .span4 {width: 32.26%;}
	.layout-type--fluid .gallery .span6 {width: 49.2%;}


.gallery .span2 {width: 140px !important;}
.gallery .span3 {width: 220px}
.gallery .span4 {width: 31.9%;}
.gallery .span6 {width: 460px !important;}
	
	
	
	 
	 .menu-buttons{ visibility: visible;}
	  .navbar{ visibility: visible;}
	 .size-zero{ height: 0px; width: 0px;}
	 
	 
	.tag-wrap-item {width: 440px !important;}
	
	
	.font-technique #buttonScreen-group,
.font-technique #itemShape-group,
.font-technique #itemSize-group{margin-right:9px;}

.font-technique .grid-button-wrap,
.font-technique #layoutSkin-group {margin-right:10px !important;}


.font-technique .clear-settings-wrap{margin-right:8px !important;}



.font-karnivore #buttonScreen-group,
.font-karnivore #buttonSize-group,
.font-karnivore #layoutSkin-group,
.font-karnivore .grid-button-wrap{margin-right:14px !important; }
.font-karnivore .clear-settings-wrap{margin-right:12px !important;}


.font-karnivore #itemShape-group{margin-right:12px !important; }
.font-karnivore #itemSize-group{margin-right:14px !important; }
.font-karnivore #itemLayout-group{margin-right:15px !important; }
.font-karnivore #imageFitFill-group{margin-right:15px !important; }

	 .attachment .attachment-text-wrap{ width:440px !important;}
	 .attachment .entry-attachment{max-width:780px !important;}
	 .attachment .attachment-image{max-width:780px !important;}

}

@media (min-width: 960px) and (max-width: 1279px) {


	.galleryItem-restricted-height-on .gallery-item{
	height: 140px;
}

#logo{width:300px;}

	.widget-area-header {
	width:620px;
}

.hero-media-holder{height: 140px;}


.media-query-wrap-item:nth-of-type(1n+8){/*margin-top:20px;*/}

	#imageFitFill-group, #imageFitFill-group{margin-top:0px; margin-right:0px;}
	#itemInteraction-group{margin-top:10px; margin-right:0px;}
	/*.widget-area-header {margin-bottom:10px;}*/
	.filter-menu-view{margin-top:0px;}
	.clear-settings{margin-right:0px;}
	
	.clear-settings-wrap{margin-right:0px !important; top:0px !important;}
	
	
	.font-ubuntu .clear-settings-wrap{margin-right:0px !important;}
	
	
	.grid-button-wrap{top:0px !important;}
	
	#buttonShow-group{margin-top:20px;}

	.tag-wrap-item{/*margin-left:0px !important;*/}

	
	
	.nav-primary{
margin-top: 0px;
}

.attachment img {
		/*max-height: 600px; */
	}


	.container {
		width: 940px;
	}
	

	/* expanded fixes */	
		.view-mode--expanded .offset6 {
			margin-left:480px;
	}
	
	.view-mode--expanded .offset8 {
		width: 320px !important;
	}
	



/* responsive gallery fixes */

		.layout-type--fluid .gallery .span2 {width: 14.89%;}
	.layout-type--fluid .gallery .span3 {width: 22.57%;}
	.layout-type--fluid .gallery .span4 {width: 31.9%}
	.layout-type--fluid .gallery .span6 {width: 48.9%;}

	.gallery .span2 {width: 13.96%;}
	.gallery .span3 {width: 140px}
	.gallery .span4 {width: 180px;}
	.gallery .span6 {width: 620px; margin-left:0px !important;}







	 
	 .menu-buttons{ visibility: visible;}
	 .size-zero{ height: 0px; width: 0px;}
	 
	 
	 .layout-type--fixed .layout-size--thumbnail .post-feed-image-shape-square .span1 {
margin-right: -2px !important;
}

.layout-size--thumbnail .hentry{
	margin-bottom:17px;
}


/*




	.layout-type--fluid .gallery .span2 {width: 14.89%;}
	.layout-type--fluid .gallery .span3 {width: 22.57%;}
	.layout-type--fluid .gallery .span4 {width: 31.9%}
	.layout-type--fluid .gallery .span6 {width: 48.9%;}

	.gallery .span2 {width: 13.96%;}
	.gallery .span3 {width: 140px}
	.gallery .span4 {width: 31.17%;}
	.gallery .span6 {width: 620px; margin-left:0px !important;}





.span6{
	width:940px;
	}


*/

.footer-widgets .span6{
	width:940px;
	}


.tag-wrap-item{width:140px !important;}

.layout-size--large .hentry-layout-data .hentry-text-wrap{width: 130px;}

.post-feed .layout-size--large .entry-title {
font-size: 1rem  !important;
}


.font-technique #buttonScreen-group,
.font-technique #itemShape-group,
.font-technique #itemSize-group{margin-right:9px;}

.font-technique .btn-group-two {
margin-right: 11px !important;
}

.font-technique  #imageFitFill-group{margin-right:0px !important;}

.font-technique .grid-button-wrap{margin-right:10px !important;}

.font-karnivore #buttonScreen-group,
.font-karnivore #buttonSize-group,
.font-karnivore #layoutSkin-group,
.font-karnivore .grid-button-wrap{margin-right:14px !important; }


.font-karnivore #layoutType-group{margin-right:16px !important; }
	
.font-karnivore #itemLayout-group{margin-right:15px !important;}

.font-karnivore #imageFitFill-group{margin-right:0px;}
.font-karnivore  #itemShape-group{margin-right:12px !important; }



.hentry-wrap-expanded .hentry-text-wrap{width:440px !important;}


	 .tag-instagram .post-thumb-wrap-expanded{ background-size:cover !important;}

/*
.main-content-wrap{margin-top:0px;}*/

 .attachment .attachment-text-wrap{ width:280px !important;}

}

@media (min-width: 620px) and (max-width: 959px) {
	
	
	
	.galleryItem-restricted-height-on .gallery-item{
	height: 140px;
}

#logo{width:300px;}

.font-technique #buttonScreen-group{margin-right:9px !important;}

.btn-navbar{width:100% !important;}


	.hero-media-holder{height: 140px;}

.widget-area-header {/*
width: 220px;*/
}

.widget-area-header input {/*
width: 150px;*/
}


.media-query-wrap-item:nth-of-type(1n+5){margin-top:20px;}


#itemShape-group {margin-right: 14px;}



.font-technique #itemShape-group {margin-right: 8px;}
.font-technique #imageFitFill-group{ margin-right:8px !important;}

/*
.font-karnivore .grid-button-wrap{margin-right:9px !important; }


.font-karnivore .clear-settings-wrap{margin-right:9px !important; }



.font-karnivore #itemShape-group {margin-right: 8px;}
*/


.font-karnivore #buttonScreen-group {margin-right:13px !important; }

.grid-button{ /*margin-top:20px !important;*/}
#itemLayout-group{ margin-right:0px;}
#imageFitFill-group{ margin-top:10px;}
#itemInteraction-group{margin-top:10px;}
#layoutSkin-group{margin-top:20px;}
#buttonShow-group{ margin-top:20px;}
.clear-settings{/*margin-top:20px !important; */}
.tag-wrap-item{margin-left: 160px!important; margin-top:80px;}
.tag-wrap-item .ui-colour{ margin-top:20px;}



.network-query-dropdown{margin-left: 0px !important; }



#itemSize-group, #layoutType-group{
margin-right:0px !important; 
}

.font-technique .grid-button-wrap{margin-right:9px !important; }


.font-technique .clear-settings-wrap{margin-right:9px !important; }

.font-ubuntu .clear-settings-wrap{margin-right:15px !important; }


.font-karnivore #buttonSize-group,
.font-karnivore #layoutSkin-group,
.font-karnivore .grid-button-wrap{margin-right:15px !important; }

.font-karnivore .clear-settings-wrap,
.font-karnivore #imageFitFill-group,
.font-karnivore  #itemShape-group{margin-right:12px !important; }

#buttonSize-group

.widget-area-header {
	/*margin-bottom:10px;*/}

.header #logo {
width: 300px;
}


.menu-menu {margin-right:0px  !important;}
.menu-menu .ui-colour{ /*margin-top:20px;*/ margin-right:0px;}


	
	
	.container {
		width: 620px;
	}
	
	.article-sidebar .span4{/*width:620px;*/}
	
	.span12, .span10, .span8
	{ width: 620px; }
	/* .span6 { width: 460px; } */
	
	.span6 {
			width:300px;
	}

	.post-feed .span6 {
			width:620px;
	}

	.post-feed .hentry-wrap-expanded .span6 {
			width:620px;
	}

	.footer .span2, .span3{width:300px;}
	

	
	/* single attachments */
	.single-attachment .attachment .span8,
	.single-attachment .attachment .span6{
		width:620px;
	}

	
	/* expanded fixes */	
	
	.view-mode--expanded .offset6 {
			margin-left:20px;
	}

	.hentry-wrap-expanded .hentry-text{top:220px;}
	
	.tag-instagram .hentry-wrap-expanded .hentry-text{top:620px;}
	
	.hentry-layout-visual .hentry-wrap-expanded .hentry-text-wrap{width:95% !important; height: 300px !important; overflow: hidden !important;}
	
	
	.post-thumb-wrap-expanded {
		height: 220px !important;
	}
	
	.tag-instagram .post-thumb-wrap-expanded {
		height: 620px !important;
	}
	
	.view-mode--expanded .offset6 {
		left: -20px !important;
	}


	.view-mode--expanded .offset8 {
		left: -20px !important;
	}
	
	/*
	.hentry-wrap-expanded .entry-title{
		margin-top:415px !important;
	}
	*/
	
	.hentry-layout-visual .hentry-wrap-expanded .hentry-text{
		background:none !important;
	}

	.layout-size--large .hentry-layout-visual .hentry-wrap-expanded .hentry-text{
		width: 630px !important;
	}
	
	.layout-size--thumbnail .hentry-text-wrap{margin: 1px !important;}

	.layout-size--thumbnail .excerpt{margin-top: -3px !important; display: none;}

	/* responsive gallery fixes */
	

	/*.row-fluid .span2 {
		width: 13.96%;
	}
	*/

	.layout-type--fluid .gallery .span3 {width: 22.58%}
	.layout-type--fluid .gallery .span4 {width: 31.17%}
	.layout-type--fluid .gallery .span6 {width: 48.35%;}

	.gallery .span2 {width: 13.96% !important;}
	.gallery .span3 {width: 140px}
	.gallery .span4 {width: 31.17%;}
	.gallery .span6 {width: 620px; margin-left:0px !important;}






	
	.align-left-with-margin-midsize {
	margin-left: 5px !important;
	*margin-left: 5px !important;
}
	
.align-left-no-margin-midsize {
	margin-left: 0px !important;
	*margin-left: 0px !important;
}	


	
	
	 .menu-buttons{ visibility: visible;}
	 .size-zero{ height: 0px; width: 0px;}
	 
	 
.layout-type--fixed .layout-size--thumbnail .post-feed-image-shape-square .span1 {
margin-right: -1px !important;
}

.layout-size--thumbnail .hentry{
	margin-bottom:15px;
}

.tag-wrap-item{width:300px !important; margin-right: 0px !important; float:none!important; }

	.menu-menu .add-post-now-wrap{margin-left:0px  !important;}

	 .tag-instagram .post-thumb-wrap-expanded{ background-size:cover !important;}
	 
	 
	 .attachment .attachment-text-wrap{ width:580px !important; margin-left:0px!important;}
	 
	 .sidebar-default{margin-left:20px !important; width:620px !important;}
	 
	 }

@media (min-width: 1px) and (max-width: 619px) {
	
	
	
	 .sidebar-default{margin-left:10px !important;}
	 
	 
	.galleryItem-restricted-height-on .gallery-item{
	width:100%;
}
	
#logo{width:300px;}
	
	.widget-area-header, .widget-area-header .widget-container {
	width:100%;
}
	
	.nav li{ font-size: 1rem !important;}
	
	.btn-navbar{width:100% !important;}
	
	.comments-query-form{ margin-top:20px!important;}
	
	.tag-wrap-item{float:none !important} /*imp */
	
	.font-technique .grid-button-wrap{margin-right:9px !important;}
	
	
	.font-karnivore .grid-button-wrap{margin-right:12px !important;}
	.font-karnivore .btn-group-two{margin-right:15px;}
	
.font-ubuntu .clear-settings-wrap{margin-right:0px !important; }

	.hentry-wrap-expanded .entry-title{font-size: 24.5px !important; line-height: 30px !important}

	.hentry-layout-visual .hentry-wrap-expanded .hentry-text-wrap{margin: 10px !important; overflow: hidden !important; height:220px !important;}


.layout-size--thumbnail .hentry-text-wrap{margin: 1px !important;}

	.layout-size--thumbnail .excerpt{margin-top: -3px !important; display: none;}

.menu-menu{
		margin-left: 20px !important;
	margin-top:20px;

margin-right: 0px !important;	}


.hero-media-holder{height: 60px;}

.tag-wrap-item{width:100% !important;}

.layout-size--large .hentry-text{
	left:0px;
}

.layout-type--fixed .layout-size--large .post-feed .hentry-layout-data {
	height: 540px  !important;
}

.layout-size--large .hentry-layout-data .hentry-text{
	top:300px;
	left: 0px;
	height: 230px;
	overflow: hidden;
}

.layout-size--large .hentry .hentry-wrap {
	overflow:visible;
}

.widget-area-header {/*
width: 220px;*/
}

.widget-area-header input {/*
width: 150px; */
}



.media-query-wrap-item:nth-of-type(1n+9){margin-top:20px; }

.post-query-form{ display: block;}
.post-categories-form{ display: block;}
.post-tags-form{ display: block; margin-left:0px !important;}
.mostviewedpost-query-form{ display: block;}
.comments-query-form{ display: block;}
.sortby-query-form{ display: block;}
.network-query-form{ display: block; /* margin-left:0px !important;  margin-top:20px;*/}

.tag-cloud-wrap .ui-colour { margin-top:20px;}


.post-query-dropdown{ display: none;}
.categories-query-dropdown{ display: none;}
.mostviewedpost-query-dropdown{ display: none;}
.comments-query-dropdown{ display: none;}
.sortby-query-dropdown{ display: none;}
.network-query-dropdown{ display: none;}

.post-view-dropdown{ display: none;}
.categories-view-dropdown{ display: none;}
.mostviewedpost-view-dropdown{ display: none;}
.comments-view-dropdown{ display: none;}
.sortby-view-dropdown{ display: none;}
.network-view-dropdown{ display: none;}

.filter-menu-view .btn:nth-of-type(4n+1){
margin-left:20px;
}

#buttonSize-group{ margin-top:20px;}
#layoutType-group{ margin-top:20px;}

#buttonShow-group{margin-top:20px;}




.toggle-menu-page-button, .toggle-menu-site-button{ /*margin-top:15px; */}


#layoutType-group{margin-right: 0px !important;}


.grid-button{/*margin-top: 20px !important; */}


.clear-settings-wrap{ margin-right:0px !important; }
.clear-settings{ /* margin-right:0px; margin-top: 20px !important; */}

#layoutSkin-group{ margin-top:20px;}

 .toggle-filter-query-button{margin-right:0px !important;}

.header #logo {
width:300px;
}


	 .menu-buttons{  display:none;}



	.tag-wrap-item, .tagCloudButton{width: 300px !important;}

#itemSize-group, #itemLayout-group{ margin-top:20px;}



#imageFitFill-group{margin-right:0px !important; margin-top:20px;}

#itemInteraction-group{margin-top:20px;}

.insert-posts-menu .span6,
.insert-posts-menu .span9,
.insert-posts-menu .span12{width:100% !important;}




	.container, .span12 {
		width: 300px;
	}
	.span12, .span10, .span8, .span6, .span4, .span3 { width: 300px; }
	
/* expanded fixes */	

.hentry-wrap-expanded .hentry-text {top:300px;}


.post-thumb-wrap-expanded {
	height: 300px !important;
}

.view-mode--expanded .offset8 {
	margin-left: -10px !important;
}

.view-mode--expanded .offset6 {
	margin-left: 0px !important;
}

.view-mode--expanded .meta-info{
	display:none !important;
}

.hentry-wrap-expanded .hentry-text-wrap{
	width:260px !important;
}

.hentry-wrap-expanded .entry-title{
	margin-top:0px !important;
}


.hentry-layout-visual .hentry-wrap-expanded .entry-header,
.hentry-layout-visual .hentry-wrap-expanded .hentry-text-wrap{
	width: 93% !important;
}

/*
.hentry-wrap-expanded .entry-title{
	margin-top:300px !important;
}
*/







.hentry-layout-visual .hentry-wrap-expanded .hentry-text{
	background:none !important;
}

/* single attachments */
.single-attachment .attachment .span8,
.single-attachment .attachment .span6{
	width:300px;
}

/* responsive gallery fixes */



/*
	.row-fluid .span2 {
		width: 11%;
	}
	
	
	.row-fluid .span8{ width: 100%;}



*/



.layout-type--fluid .gallery .span2,
	.layout-type--fluid .gallery .span4{width:28.88%;}
	.layout-type--fluid .gallery .span3 {width: 19.99%;}
	.layout-type--fluid .gallery .span6 {width: 46.6%;}
	.layout-type--fluid .gallery .span2:nth-of-type(3n+4){ margin-left: 0px; }
	.layout-type--fluid .layout-size--large .gallery .span2, 
	.layout-type--fluid .layout-size--large .gallery .span3, 
	.layout-type--fluid .layout-size--large .gallery .span4, 
	.layout-type--fluid .layout-size--large .gallery .span5, 
	.layout-type--fluid .layout-size--large .gallery .span6 {width:99.99999999% !important; margin-left:0px;}


	.gallery .span2 {width: 300px !important; margin-left:0px !important;}
	.gallery .span3 {width: 300px; margin-left:0px !important;}
	.gallery .span4 {width: 300px; margin-left:0px !important;}
	.gallery .span6 {width: 300px; margin-left:0px !important;}




	
		.galleryItem-restricted-height-on .gallery-icon{
			/*height: 90px;*/
		}
		
		.menu-gallery{ display:none;}
	
	.layout-size--large .galleryItem-restricted-height-on .gallery-icon,
	.layout-size--large .gallery-item img{
		height:300px;
	}



		
		
			.footer .span2{width:300px;}
	
	
	.span3 {

margin-left: 0px;
}

/* emulates .icon_only-small */


.btn{
/*
	width: 16px !important;
	display: inline-block !important;
	margin-right: 0px !important;
	font-size: 0px !important;
	line-height: 4px !important;
	cursor: pointer !important;
	text-align: center !important;
*/}

/* emulates .icon_only-small */

/* mobile */
	.align-right {
/*float: left !important;*/
}

 .align-right .btn, .align-right button, button.align-right{
/*
margin-left:5px !important;
margin-right:15px !important;
*/
}



 .align-right .btn, .align-right button, button.align-right{
	margin-right: 0px;
	/*margin-left: 5px !important;
	*margin-left: 5px !important;*/
}



.align-right .filter-submit{
	margin-left: 0px !important;
	margin-right: 0px !important;
	/*width:48px !important;*/
}

.align-right {
/*float: left !important;*/
margin-right:0px  !important;
margin-left:0;
}

.menu-menu {
float: right !important;
margin-left:0px;

}



.toggle-menu-site-button{width:290px !important;}
.menu-menu .toggle-menu-site-button-wrap{
	/*margin-right:20px  !important;*/ width:300px  !important;}
	
	
	.menu-menu .add-post-now-wrap{margin-left:0px  !important;}
	
	.widget-area-header{
	margin-right:20px;
	margin-top:20px;
	}
	
	 .widget-area-header input, .menu-menu input, .filter-menu-query input, .filter-menu-view input{
	 	/*width:135px !important;*/
	 }
	 
	 .nav-primary{margin-top:10px;}









.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child{
	/*margin-top: -5px !important;*/
}

.align-left-with-margin {
	margin-left: 5px !important;
	*margin-left: 5px !important;
}

.align-left-no-margin {
	margin-left: 0px !important;
	*margin-left: 0px !important;
}

.remove-right-margin,
.align-right .remove-right-margin{
	margin-right:0px;
	*margin-right:0px;
}

.single .toggle-skin{
	margin-left: 5px !important;
	*margin-left: 5px !important;
}



/* new */



.layout-type--fixed .layout-size--thumbnail .post-feed-image-shape-square .span1{
	margin-right:-11px !important;
}

	
.layout-size--thumbnail .hentry{
	margin-bottom:9px;
}


.attachment .attachment-text-wrap{

	padding-left:10px !important;
}

.attachment .back-button{
	text-align:center;
}

}

/* 	===============================================================================================================================
	post media queries 
   	=============================================================================================================================== */

.layout-type--fixed .layout-size--large .post-feed .hentry{
	height: 300px;
}

.layout-type--fixed .layout-size--large .post-feed-image-shape-rectangle .hentry{
	height: 220px;
}

.layout-type--fixed .layout-size--medium .post-feed .hentry {
	height: 140px;
}

.layout-type--fixed .layout-size--medium .post-feed-image-shape-rectangle .hentry{
	height: 105px;
}

.layout-type--fixed .layout-size--small .post-feed .hentry{
	height: 60px;
}

.layout-type--fixed .layout-size--small .post-feed-image-shape-rectangle .hentry-layout-visual{
	height: 60px;
	width: 140px;
}

.layout-type--fixed .layout-size--thumbnail .post-feed .hentry{
	height: 30px;
}

.layout-type--fixed .layout-size--thumbnail .post-feed-image-shape-rectangle .hentry{
	/*height: 40px;*/
}

.layout-type--fixed .layout-size--thumbnail .post-feed-image-shape-square{
margin-left: -15px;
}


.layout-type--fixed .layout-size--thumbnail .post-feed .span1{
	width:30px;
	margin-left:20px;
	/*margin-right:-4px;*/
}

.layout-type--fixed .layout-size--thumbnail .post-feed .span4{
	margin-left:20px;
}

.layout-type--fixed .layout-size--thumbnail .post-feed .hentry-layout-data{
	margin-left:20px;
}

.layout-type--fixed .layout-size--thumbnail .post-feed-image-shape-square{
	margin-left:-20px;
}

.layout-type--fixed .layout-size--thumbnail .post-feed-image-shape-rectangle .span1{
	width:60px;
	margin-left:20px;
}


.layout-type--fixed .hentry-text-wrap{
	left:0px;
}




.nav-single .align-right {
float: right !important;
margin-right:5px  !important;
}

.align-left-no-margin {
	margin-left: 0px;
	*margin-left: 0px;
}


	.tagCloudButton{height: 58px !important; width: 140px !important; line-height:56px;}




	/* expanded fixes */	
	


/*
#container { background-color: #666;}
#content { background-color: #fff; margin-top:-10px;}
*/
/*
#main-navigation, .filter-menu-query{background-color: #fff;}*/


