
.relatedthumb {margin: 0 1px 0 1px; float: left; }
.relatedthumb img {margin: 0 0 3px 0; padding: 0;}
.relatedthumb a {color :#333; text-decoration: none; display:block; padding: 4px; width: 150px;}

.archive .sidebar-default{display:none;}

.sidebar-wrap{height:100%;}

.widget-area li{ list-style:none;}

.sidebar-default .widget-area li,
.sidebar-animated .widget-area li{ margin-left:10px; margin-right:5px;}

.sidebar-default .widget_search input[type="text"]{ width:235px;}

.sidebar-default .widget-area li li,
.sidebar-animated .widget-area li li{ margin-left:0px;}


.sidebar-default .menu-page{display:none;}

.widget-area ul{ margin-left:0px;}

.widget-area ul.children{ margin-left:20px;}

.widget-area table {width:100%;}

.widget-area table caption { text-align:right;}

.widget-area #next{text-align:right;}

.widget-area select{width:100%}

.widget-container{ margin-bottom:20px;}

.header .widget-container{ margin-right:20px;}

/* Sidebar --------------------------------------------------------------- */
.sidebar-default {
	
}
	.sidebar-animated {
		
		
		height:100%;
		position: fixed;
		z-index: 999999;
		right: 0px;
		top: 0px;
		/*width: 300px;*/
		height: 100%;
		border-left: 1px solid #333;
		-moz-box-shadow: 0px 0px 10px #444;
		-webkit-box-shadow: 0px 0px 10px #444;
		box-shadow: 0px 0px 10px #444;
		overflow-y: auto;
		overflow-x: hidden;
		
		padding-right: 0px;
		
		
	
	}


.sidebar-default{
	width:320px !important;
	margin-left:-10px !important;
	margin-right:-10px !important;
}

.sidebar-default .sidebar-wrap{
	margin-top:0px;

}


.widget-area-sidebar{padding-top:28px;}

.single .widget-area-sidebar, .page .widget-area-sidebar{padding-top:0px !important;}
	
#sidebarButton {
	
	line-height:70px;
	font-weight:bold;
	
height: 85px;
width: 15px;
cursor: pointer;

border-radius:50px;
border-top-top-radius: 0px !important; 
border-bottom-right-radius: 0px !important;
border-top-right-radius: 0px !important;
border-right:none !important;
border-top-left-radius: 0px !important;
border-bottom-left-radius: 120px !important;
border:0px !important;
 }


.widget-area-sidebar{margin-left:0px;}

.widget-container .widget-title { display:none;}

.page .sidebarButton_bg,
.single .sidebarButton_bg { display:none;}

.sidebarButton_bg {
	position: fixed;
	margin-top:0px;
/* height: 58px; */
width: 25px;
margin-left: -25px;
border-radius:50px;
border-top-top-radius: 0px !important; 
border-bottom-right-radius: 0px !important;
border-top-right-radius: 0px !important;
border-right:none !important;
border-top-left-radius: 0px !important; }


div#sidebar .btn-group{margin-right:0px !important; margin-top: 20px;}
div#sidebar #itemLayout-group{margin-right:20px !important;}

div#sidebar .post-feed{margin-left:-10px; 	display:table;}
div#sidebar .menu-page-wrap{/*margin-right:-10px;*/ margin-bottom:10px;}

.meta-info {
	margin-bottom: 20px;
}



/*
.article-sidebar .meta-info p,
.article-sidebar .meta-info time {

	padding-left: 80px; 
}
*/

.article .recent-posts-list .post-title {
	height: 18px;
}

.article-sidebar .meta-info .avatar {
	float: left;
	margin-right:20px;
}

.article .recent-posts-list {
	list-style: none;
	margin: 10px 0;
	width: 80%;
}

/* widgets ----------------------------------------------------------------------------------------------------------------------------- */

/* posts list --------------------------------------------------------------------------------------------- */

.recent-posts-list, .widget_recent_entries {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.more-posts h3{
	/*margin-bottom:12px;*/
}

.recent-posts-list li, .widget_recent_entries li,
.widget_recent_comments li{
	position: relative;
	/*height: 60px;*/
	padding: 10px 0;
	
	border-bottom: 1px solid;
}

.recent-posts-list li:hover, .widget_recent_entries li:hover, .widget_recent_comments li:hover{
padding-left:20px;
}

.recent-posts-list li:hover:before, .widget_recent_entries li:hover:before,  .widget_recent_comments li:hover:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0px;
	width: 10px;
	height: 100%;
}

.recent-posts-list li:last-child, .widget_recent_entries li:last-child, .widget_recent_comments  li:last-child {
	/*border-bottom: 0;*/
}

.recent-posts-list li:first-child, .widget_recent_entries li:first-child, .widget_recent_comments  li:first-child {
	border-top: 1px solid;
}

.recent-posts-list li:last-child, .widget_recent_entries li:last-child, .widget_recent_comments  li:last-child {
	margin-bottom:20px;
}

.recent-posts-list a, .widget_recent_entries a, .widget_recent_comments  a {
	text-decoration: none;
	color: inherit;
}

.recent-posts-list .post-title, 
.recent-posts-list .post-date,
.widget_recent_entries .post-title, 
.widget_recent_entries .post-date,
.widget_recent_comments  .post-title, 
.widget_recent_comments  .post-date
 {
	display: inline-block;
}

.recent-posts-list .post-title {
	/*float: left;
	height: 18px;
	overflow: hidden;*/
	
	float: left;
position: relative;
top: -40px;
left: 70px;
height: 18px !;
overflow: hidden;
}

.widget_recent_entries .post-title,
.widget_recent_comments  .post-title  {
	/*float: left;
	height: 18px;
	overflow: hidden;*/
	
	float: left;

height: 18px;
overflow: hidden;
}

.recent-posts-list .post-date, .recent-posts-list .post-date,  .widget_recent_comments  .post-date {
	float: right;
	margin-left: 4%;
	overflow: hidden;
}












.sidebar-default .widget_calendar,
.sidebar-animated .widget_calendar{ margin-left:30px !important;}





.sidebar-wrap,.sidebarButton_bg{
	margin-top:-28px;
}








