/* SKIN FILE :: default */

#searchsubmit,
.fx-type--border-default{
	/* wireframe mode */
	outline: #000 1px solid;
}

#searchsubmit,
.skin-dark .fx-type--border-default{
	/* wireframe mode */
	outline: #fff 1px solid;
}



.btn, button{
	-webkit-border-radius: 0px;
	 -moz-border-radius: 0px;
	      border-radius: 0px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	  -webkit-border-radius: 0px;
		 -moz-border-radius: 0px;
			  border-radius: 0px;
}

.btn-group>.btn:first-child{
	
}

.btn-group>.btn:last-child, .btn-group>.dropdown-toggle {

}

.fx-type--border-default{
	/* remove wireframe */
	
	  -webkit-border-radius: 0px;
		 -moz-border-radius: 0px;
			  border-radius: 0px;
}

.fx-type--padding-default{
	
}

.fx-type--text-margin{
	
}

.fx-type--height-default{

}


/* ----------------------------- */

.hentry-contentheight .post-thumb-wrap-varied{ margin:0px;}

.hentry-contentheight h2{margin-top:0px; margin-bottom:0px;}

.hentry-contentheight h3{line-height:24px;}


.hentry-contentheight .hentry-wrap { margin:20px; margin-bottom:5px; }

