.header{
background:url('header.png') no-repeat top left;
}

.header, .footer{
-webkit-box-shadow: 0px 5px 5px rgba(52, 54, 54, 0.34);
-moz-box-shadow:    0px 5px 5px rgba(52, 54, 54, 0.34);
box-shadow:         0px 5px 5px rgba(52, 54, 54, 0.34);
}

.btn, .btn-group{
-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.34);
-moz-box-shadow:    0px 1px 1px rgba(255, 255, 255, 0.34);
box-shadow:         0px 1px 1px rgba(255, 255, 255, 0.34);
}

.btn-group .btn{
-webkit-box-shadow: none;
-moz-box-shadow:    none;
box-shadow:         none;
}

.navbar{
-webkit-box-shadow: 0px -2px 2px rgba(255, 255, 255, 0.09);
-moz-box-shadow:    0px -2px 2px rgba(255, 255, 255, 0.09);
box-shadow:         0px -2px 2px rgba(255, 255, 255, 0.09);
}


.dropdown-menu{
-webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.67);
-moz-box-shadow:    0px 2px 2px rgba(255, 255, 255, 0.67);
box-shadow:         0px 2px 2px rgba(255, 255, 255, 0.67);
}



.site-title a{
text-shadow: 0px 0px 6px rgba(168, 244, 221, .4);
}

.post-feed .hentry{
-webkit-box-shadow: 0px 1px 4px rgba(123, 123, 123, .6);
-moz-box-shadow:    0px 1px 4px rgba(123, 123, 123, .6);
box-shadow:         0px 1px 4px rgba(123, 123, 123, .6);
outline:0px;
}

.icon-2x{




}

/* SKIN FILE :: default */

.widget-area-header input{
	height:48px;
}

[class^="icon-"], [class*=" icon-"] { line-height:30px;}

.btn, button{
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
}

.btn-group .btn {
height: 56px;
margin-top: 2px;
margin-bottom: 2px;
}

.tagCloudButton {
height: 55px !important;
margin-top: 2px;
margin-bottom: 2px;
}

.skin-dark .btn,.skin-dark button, .skin-dark input[type="text"]{
		  border: 1px solid #333 !important;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
			 
}

.fx-type--border-default{
		outline: #000 0px solid !important;
	/* remove wireframe */
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
}

.post-feed .hentry{/*outline:1px #333 solid !important;*/}

.skin-dark .fx-type--border-default{
	/* wireframe mode */
	outline: #333 1px solid;

}

.btn-group>.btn:first-child{
	border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-left-radius: 4px;
}

.btn-group>.btn:last-child, .btn-group>.dropdown-toggle {
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
}

.fx-type--padding-default{
	
}

.fx-type--text-margin{
	
}

.fx-type--height-default{

}





.navbar .nav>li>a{ text-shadow:none;}
/* ----------------------------- */

.hentry-contentheight .post-thumb-wrap-varied{ margin:0px;}

.hentry-contentheight h2{margin-top:0px; margin-bottom:0px;}

.hentry-contentheight h3{line-height:24px;}


.hentry-contentheight .hentry-wrap { margin:15px; margin-bottom:5px; }

.hentry-contentheight .hentry-audio-wrap{ margin:0px; }